@import "src/assets/style/custom";

.contact_div {
  display: inline-flex;
  margin-top: 2rem;
}

h2 {
  text-align: center;
}

.contact-list {
  width: 25%;
  min-width: 15rem;
  list-style: none;
  line-height: 3rem;
  text-align: left;
  margin-top: 4rem;
  margin-right: 2rem;
  padding-bottom: 2rem;
  svg {
    fill: $red;
  }
  .github, .twitter, .linkedin, .mail {
    height: 1.1rem;
    width: 1.1rem;
  }
  .discord {
    height: 1.4rem;
    width: 1.4rem;
    margin-left: -0.4rem;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover, &:visited {
      text-decoration: none;
      color: inherit;
    }

    span {
      margin-left: 0.5rem;
    }
  }
}
.contact-form {
  min-width: 13rem;
  width: 75%;
}

/* Small screens */
@media only screen and (max-width: 767px) {
  .contact_div {
    display: inline-block;
  }
  .contact-list ul {
    box-sizing: unset;
    text-align: center;
  }
  .contact-list, .contact-form {
    margin: 0 auto;
  }
}
