@import "src/assets/style/custom";

.form {
  width: 80%;
  height: 80%;
  margin-left: 10%;
}

.contact-input {
  color: $white;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid $red;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;

  &:focus {
    border: 2px solid $red-2;
  }
}

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

button {
  width: 100%;
  background: $red;
  border-radius: 5px;
  border: 0;
  color: $white;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;

  &:hover {
    background: $red-2;
  }
}
