@import "src/assets/style/custom";

.loading {
  margin-top: 5rem;
  margin-left: 6rem;
  width: 15rem;
}

.filter {
  margin-top: 1.5rem;
}

.language, .category {
  margin-bottom: 1rem;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.projects > .project {
  margin: 80px 40px 20px;
}
.projects:first-child, .projects:last-child {
  margin: 0 !important;
}

